.wrapper {
    display: grid;
    gap: 25px;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    grid-template-columns: minmax(150px, 90vw);
}

.about {
    margin-top: 10px;
    max-width: 1400px;
}

.services,
.selected_services,
.contact_info,
.contact_us {
    justify-self: center;
    width: 100%;
}

@media (max-width: 480px) {
    .wrapper {
        margin: 0 5px;
    }
}
@media (min-width: 481px) and (max-width: 767px) {
    .wrapper {
        margin: 0 5px;
        grid-template-columns: minmax(300px, 90vw);
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .wrapper {
        margin: 0 15px;
        grid-template-columns: minmax(300px, 90vw);
    }
}

@media (min-width: 1024px) {
    .wrapper {
        margin: 0 40px;
        grid-template-columns: 1000px;
    }
}

@media (min-width: 1440px) {
    .wrapper {
        margin: 0 100px;
    }
}
